.side_bar {
  height: 100vh;
  width: 300px;
  color: #ffffff;
  .side_header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    &__top_items {
      display: flex;
      justify-content: space-between;
      height: 20px;
      width: 260px;
    }
    &__username {
      font-size: 16px;
      font-weight: bold;
    } 
    &__icon {
      text-decoration: none;
    }
    a {
      color: #ffffff;
    }
  }
}
  .group_list {
    background-color: #2f3e51;
    height: calc( 100vh - 100px );
    padding: 0 20px;
    .group {
      color: #ffffff;
      text-decoration: none;
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
      }
      &__message {
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }

